/* add your CSS here */
body {
  font-family: 'Nunito', sans-serif;
  color: #494949;
  font-size: 14px;
}

.card{
    box-sizing: content-box;
    width: 340px;
    background: #C84071;
    box-shadow: 15px 15px 0px 0px rgba(153,153,153,0.5);
    border: solid 1px #FBD6D6;
    border-radius: 20px;
    padding: 20x;
    margin: 20px;
    text-align: center;
}

.name {
    background-color: #ddd;
    border: solid 5px #ddd;
    display: inline-block;
    float: left;
    box-sizing: content-box;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 20px 0px 20px;
    text-emphasis: circle #C84071;
    font-family: 'Carter One', sans-serif;
    color: #C84071;
    text-align: center;
    backround-color: #ddd;
}

.image{
  border: solid 0px  #F1D0CA;
  border-radius: 20px;
  width: 300px;
  margin: 20px 20px 0px 20px;
}

.info-item{
  background-color: #FBD6D6;
  box-sizing: border-box;
  border-radius: 20px;
  border: 5px solid #C84071;
  padding: 8px 16px;
  margin: 20px;
  text-align: left;
}

.general-info{
  font-style: italic;
  text-align: justify;
}

ul {
    list-style-type: none;
    margin: 4px;
    padding: 0;
}

.list{
  width: 90%;
  text-align: left;
  color: #C84071;
  border: 0px;
  margin: 0px 0px 15px 0px;
}

li span{
  font-weight: bold;
  }

.quote{
    text-align: center;
}
